.feature {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
  
    #container{
      display: flex;
      justify-content:center ;
      align-items: center;
  
  }
  #comentarios{
      border: solid red 1px ;
      max-width: 200px;
      min-width: 200px;
      text-align: left;
      }
      img{
        max-width: 200px;
        min-width: 200px;
    }
    
    .cuestionario > p{
    border:  1px solid red ;
    color: pink;
    background-color: pink;
    }
  