table.hover{
    color: white;
}
table{
  width: 100%;
  height: 100%;}
td{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a.hover{
    color: white;
}